:root {
  --font-family-main: "Roboto", sans-serif;
  --font-family-alternate: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --main-bg-color: #ffffff;
  --dark-bg-color: #2f303a;
  --light-bg-color: #f5f4fa;
  --hero-bg-color: #c4c4c4;
  --main-text-color: #212121;
  --alternate-text-color: #757575;
  --dark-bg-text-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --main-icon-color: #afb1b8;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--font-family-main);
  color: var(--main-text-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

picture {
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

address {
  font-style: normal;
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.container {
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background-color: var(--main-bg-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow-y: scroll;
    transition: opacity var(--transition-duration) var(--transition-timing-function), visibility var(--transition-duration) var(--transition-timing-function);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-left: 25px;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .mobile-menu__close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    border: none;
    background-color: transparent;
    line-height: 0;
    transition: color var(--transition-duration) var(--transition-timing-function);
  }
  .mobile-menu__close-button:hover, .mobile-menu__close-button:focus {
    color: var(--accent-color);
  }
  .mobile-menu__close-icon {
    fill: currentColor;
  }
  .mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .mobile-nav-list__item {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.175;
    letter-spacing: 0.02em;
  }
  .mobile-nav-list__link_current {
    color: var(--accent-color);
  }
  .mobile-contact-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 64px;
  }
  .mobile-contact-list__item {
    color: var(--accent-color);
    font-size: 34px;
    font-weight: 500;
    line-height: 1.1764705882;
    letter-spacing: 0.02em;
  }
  .mobile-contact-list__item:last-child {
    color: inherit;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
  }
  .mobile-social-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
  }
  .mobile-social-list__item {
    position: relative;
    color: var(--accent-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2222222222;
    letter-spacing: 0.02em;
  }
  .mobile-social-list__item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 10px;
    width: 22px;
    height: 1px;
    background-color: rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
}
.logo {
  color: #000000;
  font-family: var(--font-family-alternate);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1923076923;
    letter-spacing: 0.03em;
  }
}

.logo__accent {
  color: var(--accent-color);
}

.section__title {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1785714286;
  letter-spacing: 0.03em;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
  }
}

.main-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  width: 200px;
  padding: 10px;
  background-color: var(--accent-color);
  color: var(--dark-bg-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}
.main-button:hover, .main-button:focus {
  background-color: #188ce8;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-list__link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
}
.social-list__link:hover, .social-list__link:focus {
  color: var(--dark-bg-text-color);
  background-color: var(--accent-color);
}

.social-list__link_light {
  color: var(--main-icon-color);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
}

.social-list__link_dark {
  background: rgba(255, 255, 255, 0.1);
  color: var(--dark-bg-text-color);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.social-list__icon {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--transition-duration) var(--transition-timing-function), visibility var(--transition-duration) var(--transition-timing-function);
}
@media screen and (max-width: 767px) {
  .backdrop {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 93px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: relative;
  padding: 40px;
  border-radius: 4px;
  background: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: transform var(--transition-duration) var(--transition-timing-function);
}
.backdrop.is-hidden .modal {
  transform: scale(0.8);
}
@media screen and (max-width: 767px) {
  .modal {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    transform: translate(-50%, -50%) scale(1);
  }
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: var(--main-bg-color);
  color: #000000;
  cursor: pointer;
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.close-button:hover, .close-button:focus {
  color: var(--accent-color);
}

.close-button__icon {
  fill: currentColor;
}

.modal__title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
}

.modal-form__form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.modal-form__form-field:nth-child(4) {
  margin-bottom: 20px;
}

.modal-form__label {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--alternate-text-color);
}

.modal-form__input {
  padding: 10px;
  padding-left: 42px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}
.modal-form__input:focus {
  border-color: var(--accent-color);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.modal-form__form-field:focus-within .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__textarea {
  resize: none;
  outline: none;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}
.modal-form__textarea::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea:focus {
  border-color: var(--accent-color);
}

.modal-form__checkbox-field {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.modal-form__checkbox-icon {
  position: relative;
  margin-right: 8px;
  min-width: 16px;
  min-height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}
.modal-form__checkbox:checked + .modal-form__checkbox-icon {
  border: 2px solid var(--accent-color);
}

.modal-form__checkbox-svg {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-2px, -2px);
  opacity: 0;
}
.modal-form__checkbox:checked + .modal-form__checkbox-icon .modal-form__checkbox-svg {
  opacity: 1;
}

.modal-form__checkbox-label {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--alternate-text-color);
}

.modal-form__agreement-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-form__button {
  display: flex;
  margin: 0 auto;
}

@media screen and (max-width: 1199px) {
  .modal__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-align: center;
  }
  .modal-form__checkbox-label {
    font-size: 11px;
    font-weight: 400;
    line-height: 1.2727272727;
    letter-spacing: 0.03em;
  }
}
.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 10px 0;
  }
  .nav-list {
    display: none;
  }
  .contact-list {
    display: none;
  }
  .mobile-menu-open {
    border: none;
    padding: 0;
    background-color: transparent;
    line-height: 0;
    transition: color var(--transition-duration) var(--transition-timing-function);
  }
  .mobile-menu-open:hover, .mobile-menu-open:focus {
    color: var(--accent-color);
  }
  .mobile-menu-open__icon {
    fill: currentColor;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .mobile-menu-open {
    display: none;
  }
  .header__container {
    justify-content: flex-start;
  }
  .header__logo {
    margin-right: 88px;
  }
  .nav-list {
    display: flex;
    gap: 50px;
  }
  .nav-list__link {
    display: block;
    padding: 32px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    transition: color var(--transition-duration) var(--transition-timing-function);
  }
  .nav-list__link:hover, .nav-list__link:focus {
    color: var(--accent-color);
  }
  .nav-list__link_current {
    position: relative;
    color: var(--accent-color);
  }
  .nav-list__link_current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
  .contact-list {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    gap: 10px;
  }
  .contact-list__link {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--alternate-text-color);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
    transition: color var(--transition-duration) var(--transition-timing-function);
  }
  .contact-list__link:hover, .contact-list__link:focus {
    color: var(--accent-color);
  }
  .contact-list__icon {
    fill: currentColor;
  }
  .contact-list__item:first-child .contact-list__icon {
    width: 14px;
    height: 10px;
  }
  .contact-list__item:last-child .contact-list__icon {
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
  .nav-list__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
  }
  .contact-list {
    flex-direction: row;
    gap: 30px;
  }
  .contact-list__link {
    gap: 10px;
    padding: 32px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
  }
  .contact-list__item:first-child .contact-list__icon {
    width: 16px;
    height: 12px;
  }
  .contact-list__item:last-child .contact-list__icon {
    width: 10px;
    height: 16px;
  }
}
.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding: 118px 0;
  text-align: center;
  background-color: var(--hero-bg-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mainpage/hero/hero_mobile.jpg);
  background-position: center;
  background-size: cover;
}

.hero__title {
  max-width: 360px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--dark-bg-text-color);
  font-size: 26px;
  font-weight: 900;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 479px), screen and (min-resolution: 192dpi) and (max-width: 479px), screen and (min-resolution: 2dppx) and (max-width: 479px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mainpage/hero/hero_mobile@2x.jpg");
  }
}
@media screen and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mainpage/hero/hero_tablet.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 480px), screen and (min-resolution: 192dpi) and (min-width: 480px), screen and (min-resolution: 2dppx) and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mainpage/hero/hero_tablet@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mainpage/hero/hero_desktop.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mainpage/hero/hero_desktop@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.3636363636;
    letter-spacing: 0.06em;
  }
}
.feature-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.feature-list__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--light-bg-color);
}

.feature-list__title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-list__text {
  color: var(--alternate-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .feature-list {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .feature-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .feature-list__title {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .feature-list__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.work {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work-list {
  display: flex;
  gap: 30px;
}

.work-list__item {
  position: relative;
}

.work-list__description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 27px 82px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--dark-bg-text-color);
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--light-bg-color);
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.team-list__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-bg-color);
}
@media screen and (max-width: 767px) {
  .team-list__item {
    max-width: 450px;
  }
}

.team-list__description {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
}

.team-list__title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  letter-spacing: 0.03em;
}

.team-list__text {
  margin-bottom: 16px;
  color: var(--alternate-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__description {
    padding: 30px 32px;
  }
}
.clients-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.clients-list__item {
  flex-basis: calc((100% - 30px) / 2);
  height: 92px;
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 1px solid var(--main-icon-color);
  border-radius: 4px;
  color: var(--main-icon-color);
  transition: border var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function);
}
.clients-list__link:hover, .clients-list__link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.clients-list__icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}
.footer {
  background-color: var(--dark-bg-color);
  padding: 60px 0;
}

.footer__container {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.footer__logo {
  display: inline-block;
  color: var(--dark-bg-text-color);
  margin-bottom: 20px;
}

.address__place {
  margin-bottom: 8px;
  color: var(--dark-bg-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.address-list__item:not(:last-child) {
  margin-bottom: 8px;
}

.address-list__link {
  color: var(--footer-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.address-list__link:hover, .address-list__link:focus {
  color: var(--accent-color);
}

.footer-social__title {
  margin-bottom: 20px;
  color: var(--dark-bg-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.subscribe-form__label {
  display: block;
  margin-bottom: 20px;
  color: var(--dark-bg-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.subscribe-form__input {
  width: 100%;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  background-color: rgba(33, 150, 243, 0);
  color: var(--dark-bg-text-color);
}
.subscribe-form__input::placeholder {
  color: var(--footer-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.subscribe-button__text {
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .footer {
    text-align: center;
  }
}
@media screen and (max-width: 1199px) {
  .address {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__address {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subscribe-form__form-field {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
  .subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subscribe-form__form-field {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 0;
  }
  .footer__address {
    width: 231px;
    margin-right: 70px;
  }
  .address__place {
    margin-bottom: 9px;
  }
  .address-list__item:not(:last-child) {
    margin-bottom: 9px;
  }
  .footer-social {
    margin-right: 93px;
  }
  .subscribe-form {
    flex-direction: row;
    align-items: flex-end;
  }
  .subscribe-form__form-field {
    width: 358px;
    align-items: flex-start;
    margin-right: 12px;
  }
}
.filters-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 40px;
}

.filters-list__button {
  padding: 6px 22px;
  background-color: #f5f4fa;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  transition: background-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
}
.filters-list__button:hover, .filters-list__button:focus {
  background-color: var(--accent-color);
  color: var(--dark-bg-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.project-list__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow var(--transition-duration) var(--transition-timing-function);
}
.project-list__link:hover, .project-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-list__thumb {
  position: relative;
  overflow: hidden;
}

.project-list__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  color: var(--dark-bg-text-color);
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  overflow-y: auto;
  transform: translateY(100%);
  transition: transform var(--transition-duration) var(--transition-timing-function);
}
.project-list__link:hover .project-list__description, .project-list__link:focus .project-list__description {
  transform: translateY(0%);
}

.project-list__label {
  flex-grow: 1;
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.project-list__title {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-list__text {
  color: var(--alternate-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .filters-list {
    justify-content: center;
    flex-wrap: nowrap;
    gap: 8px;
    margin-bottom: 30px;
  }
  .project-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .project-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .project-list__description {
    padding: 49px 24px 77px;
  }
}
@media screen and (min-width: 1200px) {
  .filters-list {
    margin-bottom: 50px;
  }
  .project-list__item {
    flex-basis: calc((100% - 60px) / 3);
  }
  .project-list__description {
    padding: 63px 24px;
  }
}/*# sourceMappingURL=main.css.map */