.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding: 118px 0;

  text-align: center;

  background-color: var(--hero-bg-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/mainpage/hero/hero_mobile.jpg);
  background-position: center;
  background-size: cover;
}

.hero__title {
  max-width: 360px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  color: var(--dark-bg-text-color);

  @include font(26px, 900, 42px, 0.06em);
  text-transform: uppercase;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 479px),
  screen and (min-resolution: 192dpi) and (max-width: 479px),
  screen and (min-resolution: 2dppx) and (max-width: 479px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/mainpage/hero/hero_mobile@2x.jpg');
  }
}

@media screen and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/mainpage/hero/hero_tablet.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 480px),
  screen and (min-resolution: 192dpi) and (min-width: 480px),
  screen and (min-resolution: 2dppx) and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/mainpage/hero/hero_tablet@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/mainpage/hero/hero_desktop.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/mainpage/hero/hero_desktop@2x.jpg');
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }

  .hero__title {
    max-width: 696px;
    @include font(44px, 900, 60px, 0.06em);
  }
}
