.logo {
  color: #000000;

  font-family: var(--font-family-alternate);
  @include font(24px, 700, 28px);

  @media screen and (min-width: 1200px) {
    @include font(26px, 700, 31px);
  }
}

.logo__accent {
  color: var(--accent-color);
}
