@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    max-height: 796px;

    background-color: var(--main-bg-color);
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow-y: scroll;

    transition: opacity var(--transition-duration) var(--transition-timing-function),
      visibility var(--transition-duration) var(--transition-timing-function);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    padding-left: 25px;
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .mobile-menu__close-button {
    position: absolute;
    top: 10px;
    right: 15px;

    padding: 0;
    border: none;

    background-color: transparent;

    line-height: 0;

    transition: color var(--transition-duration) var(--transition-timing-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .mobile-menu__close-icon {
    fill: currentColor;
  }

  .mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .mobile-nav-list__item {
    @include font(40px, 500, 47px, 0.02em);
  }

  .mobile-nav-list__link_current {
    color: var(--accent-color);
  }

  .mobile-contact-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 64px;
  }

  .mobile-contact-list__item {
    color: var(--accent-color);
    @include font(34px, 500, 40px, 0.02em);

    &:last-child {
      color: inherit;
      @include font(24px, 500, 28px, 0.02em);
    }
  }

  .mobile-social-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
  }

  .mobile-social-list__item {
    position: relative;
    color: var(--accent-color);
    @include font(18px, 500, 22px, 0.02em);

    &:not(:last-child)::after {
      content: '';
      position: absolute;
      top: 10px;
      width: 22px;
      height: 1px;
      background-color: rgba(33, 33, 33, 0.2);
      transform: rotate(90deg);
    }
  }
}
