:root {
  --font-family-main: 'Roboto', sans-serif;
  --font-family-alternate: 'Raleway', sans-serif;

  --accent-color: #2196f3;

  --main-bg-color: #ffffff;
  --dark-bg-color: #2f303a;
  --light-bg-color: #f5f4fa;
  --hero-bg-color: #c4c4c4;

  --main-text-color: #212121;
  --alternate-text-color: #757575;
  --dark-bg-text-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.6);

  --main-icon-color: #afb1b8;

  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
